@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

.page-content {
}

.page-content-home {
}

.background-image-home {
}

.page-content-about {
}

.content-header {
}

.normal-line-height > * {
	line-height: 1.6 !important;
}

.background-image-overlay {
	background: linear-gradient(
		180deg,
		#fff 15%,
		rgba(255, 255, 255, 0.38) 50%
	);
	width: 100%;
	height: 100%;
}

dialog::backdrop {
	backdrop-filter: blur(10px);
}
